@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@layer utilities {
    .custom-bg {
        background-image: linear-gradient(0deg, rgb(176, 207, 255),rgb(92, 104, 168));
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}
  